<% content_for :title, @user.name || 'User Profile' %>

<main class='main user_profile'>
  <%= render 'shared/user_card', user: @user %>

  <div class='bio'>
    <h2>Bio</h2>
    <p><%= @user.bio %></p>
  </div>

  <%= render 'shared/open_post_form', user: @user %>

  <ul class='post_list'>
    <% if @user.posts.empty? %>
      <li class='post_content border1'>This user has no posts yet!</li>
    <% end %>

    <% @user.three_recent_posts.each_with_index do |post, index| %>
      <li class='post_content border1'>
        <%= render 'shared/post_card', post: post %>
      </li>
    <% end %>
  </ul>

  <% unless @user.posts.empty? %>
    <div class='see-all'><%= link_to 'See all posts', user_posts_path(@user), class: 'border1' %></div>
  <% end %>
</main>