<section>
  <%= render 'shared/user_card', user: @user %>

  <div class='bio'>
    <h2>Bio</h2>
    <p><%= @user.bio %></p>
  </div>

  <ul class='posts'>
    <% @user.three_recent_posts.each_with_index do |post, index| %>
      <li class='post border1'>
        <h3><%= link_to post.title, user_post_path(@user, post) %></h3>
        
        <% if post.text.length > 100 %>
          <p>
            <%= truncate(post.text, length: 100) %> 
          </p>
        <% else %>
          <p><%= post.text %></p>
        <% end %>

        <div class="comments-likes">
          <span>Comments(<%= post.comments_counter %>)</span>
          <span>Likes(<%= post.likes_counter %>)</span>
      </li>
    <% end %>
  </ul>

  <div class='see-all'><%= link_to 'See all posts', user_posts_path(@user), class: 'border1' %></div>
</section>