<li class='user_card'>
  <%= link_to user, class: 'border1' do %>
    <div class="photo border2">
      <img src="<%= user.photo %>" alt="<%= user.name %>">
    </div>

    <div class="details">
      <h2><%= user.name%></h2>
      <p>Posts(<%= user.posts_counter%>)</p>
    </div>
  <% end %>
</li>