<% content_for :title, @post.title || 'Post' %>

<main class='main post_infull'>
  <div class='post_content border1'>
    <div class='head padding-1'>
      <h1><%= @post.title %> <span class='post_content-author'>by <%= @user.name %> </span></h1>
      
      <div class="post_card_comments-likes">
        <span>Comments(<%= @post.comments_counter %>)</span>
        <span>Likes(<%= @post.likes_counter %>)</span>
      </div>
    </div>

    <p><%= @post.text %></p>

    <%= render 'shared/enteract', user: @user, post: @post %>

    <%= render 'shared/comment', post: @post, comments: @post.comments %>
  </div>

</main>